<div class="panel panel-default col-lg-4 col-lg-offset-4">
    <div class="panel-heading">
        <h2>Create Project</h2>
    </div>
    <div class="panel-body">
        <form novalidate>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" />
            </div>

            <div class="form-group">
                <label>Git repository</label>
                <input type="text" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary form-control" value="Create" />
            </div>
        </form>
    </div>
</div>