<ol class="breadcrumb">
    <li><a href="#/">Projects</a></li>
    <li class="active">{{ project.name }}</li>
</ol>



        <ul class="nav nav-tabs" >
            <li ng-class="{'active': activeTab == 'general'}" ><a href="#/project/{{ project._id }}/general">General</a></li>
            <li ng-class="{'active': activeTab == 'remotes'}" ><a href="#/project/{{ project._id }}/remotes">Remote Servers</a></li>
            <li ng-class="{'active': activeTab == 'local_commands'}" ><a href="#/project/{{ project._id }}/local_commands">Local Commands</a></li>
            <li ng-class="{'active': activeTab == 'remote_commands'}" ><a href="#/project/{{ project._id }}/remote_commands">Remote Commands</a></li>
            <li ng-class="{'active': activeTab == 'symlinks'}"  ><a href="#/project/{{ project._id }}/symlinks">Remote Symlinks</a></li>
            <li ng-class="{'active': activeTab == 'uploads'}"  ><a href="#/project/{{ project._id }}/uploads">Uploads</a></li>
            <li ng-class="{'active': activeTab == 'config'}"  ><a href="#/project/{{ project._id }}/config">Project Config</a></li>
        </ul>

        <div style="padding-top:10px;">
            <div ng-show="activeTab == 'general'" ng-include src="viewPath + 'general.html'"></div>
            <div ng-show="activeTab == 'remotes'" ng-include src="viewPath + 'remotes.html'"></div>
            <div ng-show="activeTab == 'local_commands'" ng-include src="viewPath + 'local-commands.html'"></div>
            <div ng-show="activeTab == 'remote_commands'" ng-include src="viewPath + 'remote-commands.html'"></div>
            <div ng-show="activeTab == 'symlinks'" ng-include src="viewPath + 'remote-symlinks.html'"></div>
            <div ng-show="activeTab == 'uploads'" ng-include src="viewPath + 'uploads.html'"></div>
            <div ng-show="activeTab == 'config'" ng-include src="viewPath + 'config.html'"></div>
        </div>
