<div class="panel panel-default col-lg-12" ng-show="project">
    <div class="panel-heading">
        <h2>{{ project.name }}</h2>
    </div>

    <div class="panel-body">

        <ul class="nav nav-tabs" >
            <li class="active"><a href="">General</a></li>
            <li class=""><a href="">Local Commands</a></li>
            <li class=""><a href="">Remote Commands</a></li>
            <li class=""><a href="">Remote Symlinks</a></li>
            <li class=""><a href="">Uploads</a></li>
            <li class=""><a href="">Project Config</a></li>
        </ul>

    </div>

</div>