<div class="col-lg-4">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h2>Actions</h2>
        </div>
        <div class="panel-body general-panel" >
            <label ng-show="project.local_commands && project.local_commands.length > 0">Local Commands</label>
            <ul class="list-group" dnd-allowed-types="[]" dnd-list="project.local_commands">
                <li dnd-type="'local_command'" dnd-draggable="lc" dnd-effect-allowed="copy" class="list-group-item" ng-repeat="lc in project.local_commands">
                    <span ng-bind="lc.name"></span>
                </li>
            </ul>


            <label ng-show="project.remote_commands && project.remote_commands.length > 0">Remote Commands</label>
            <ul class="list-group" dnd-allowed-types="[]" dnd-list="project.remote_commands">
                <li dnd-type="'remote_command'" dnd-draggable="rm" dnd-effect-allowed="copy" class="list-group-item" ng-repeat="rm in project.remote_commands">
                    <span ng-bind="rm.name"></span>
                </li>
            </ul>

            <label ng-show="project.symlinks && project.symlinks.length > 0">Symlinks</label>
            <ul class="list-group" dnd-allowed-types="[]" dnd-list="project.symlinks">
                <li dnd-type="'symlink'" dnd-draggable="sm" dnd-effect-allowed="copy" class="list-group-item" ng-repeat="sm in project.symlinks">
                    <div ng-bind="sm.source"></div>
                    <div ng-bind="sm.destination"></div>
                </li>
            </ul>


            <label ng-show="project.uploads && project.uploads.length > 0">Uploads</label>
            <ul class="list-group" dnd-allowed-types="[]" dnd-list="project.uploads">
                <li dnd-type="'upload'" dnd-draggable="up" dnd-effect-allowed="copy" class="list-group-item" ng-repeat="up in project.uploads">
                    <div ng-bind="up.source"></div>
                    <div ng-bind="up.destination"></div>
                </li>
            </ul>

            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="col-lg-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2>Deploy Flow</h2>
        </div>
        <div class="panel-body general-panel" >
            <ul dnd-drop="deployFlow.drop(item, type, index);" class="list-group"
                dnd-allowed-types="['local_command', 'deploy', 'remote_command', 'symlink', 'upload']" dnd-list="deployFlow.list" style="min-height: 200px;" >
                <li dnd-disable-if="df.primary"
                    dnd-moved="deployFlow.list.splice($index, 1)" class="list-group-item"
                    dnd-draggable="df" ng-repeat="df in deployFlow.list" ng-class="{'active': df.primary}">

                    <a ng-click="deployFlow.remove($index, df)" href="" ng-if="!df.primary" class="pull-right" style="margin-left:5px;"><span style="cursor: pointer;" class="glyphicon glyphicon-remove"></span></a>
                    <em class="pull-right" ng-bind="df.description"></em>

                    <span ng-bind="df.title"></span>


                </li>
            </ul>



            <div class="clear"></div>
        </div>
    </div>

    <div class="input-group">

        <select class="form-control" ng-model="deployFlow.remote">
            <option value="-1"></option>
            <option ng-repeat="remote in project.remotes" value="{{ remote.id }}">
                {{ remote.name }} - {{ remote.branch }}
            </option>
        </select>
        <span class="input-group-btn">
            <button ng-click="deployFlow.deploy();" class="btn btn-default" type="button">Deploy</button>
        </span>
    </div><!-- /input-group -->
</div>

<div class="col-lg-4">
    <div class="panel panel-warning ">
        <div class="panel-heading">
            <h2>Rollback Flow</h2>
        </div>
        <div class="panel-body general-panel">
            <ul dnd-drop="rollbackFlow.drop(item, type, index);" class="list-group"
                dnd-allowed-types="['local_command', 'rollback', 'remote_command', 'symlink', 'upload']" dnd-list="rollbackFlow.list" style="min-height: 200px;" >
                <li dnd-disable-if="rf.primary"
                    dnd-moved="rollbackFlow.list.splice($index, 1)" class="list-group-item"
                    dnd-type="'rollback'" dnd-draggable="rf" ng-repeat="rf in rollbackFlow.list" ng-class="{'active': rf.primary}">

                    <a ng-click="rollbackFlow.remove($index, rf)" href="" ng-if="!rf.primary" class="pull-right" style="margin-left:5px;"><span style="cursor: pointer;" class="glyphicon glyphicon-remove"></span></a>
                    <em class="pull-right" ng-bind="rf.description"></em>

                    <span ng-bind="rf.title"></span>


                </li>
            </ul>

            <div class="clear"></div>
        </div>
    </div>

    <div class="input-group">

        <select class="form-control" ng-model="rollbackFlow.remote">
            <option value="-1"></option>
            <option ng-repeat="remote in project.remotes" value="{{ remote.id }}">
                {{ remote.name }} - {{ remote.branch }}
            </option>
        </select>
        <span class="input-group-btn">
            <button ng-click="rollbackFlow.rollback();" class="btn btn-default" type="button">Rollback</button>
        </span>
    </div><!-- /input-group -->
</div>

<div class="clear"></div>