<p>
    <a href="#/project/create/upload/{{ project._id }}" class="btn btn-primary">Add Upload</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Source</th>
        <th>Destination</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="u in project.uploads">
        <td>{{ u.source }}</td>
        <td>{{ u.destination }}</td>
        <td><a ng-click="upload.remove(u.id)" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a></td>
    </tr>
    </tbody>
</table>